VITE_SOLAMI_API_KEY=TU_KEY_REAL
VITE_SOLAMI_RPC_URL=https://rpc.solami.dev/sol
VITE_SOLAMI_WS_URL=wss://ws.solami.dev/ws/sol
VITE_SOLAMI_DATA_URL=https://api.solami.dev

VITE_HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=TU_KEY_REAL
VITE_HELIUS_WS_URL=https://mainnet.helius-rpc.com/?api-key=TU_KEY_REAL

VITE_USE_MOCK=false

